html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: var(--dh-green) var(--dh-alabaster);
}

body {
  background-color: var(--dh-alabaster);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;

  @include xl-d {
    --dh-sections-gap: 2rem;
    --dh-conteiner-padding: 2rem;
  }

  @include sm-d {
    --dh-sections-gap: 1rem;
    --dh-conteiner-padding: 1rem;
    --dh-border-radius: 2rem;
    --dh-section-padding-y: 2rem;
  }
}

.wrapper {
  max-width: 136.6rem;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-size: 1.4rem;
  color: var(--dh-jet);
  display: flex;
  flex-direction: column;
  gap: var(--dh-sections-gap);
}

.main {
  padding-top: calc(7rem + var(--dh-sections-gap));

  @include md-d {
    padding-top: calc(6rem + var(--dh-sections-gap));
  }
}
