.catalog {
  background-color: var(--dh-white);

  &__tabs-triggers {
    width: fit-content;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.2rem;
    row-gap: 3.2rem;
    margin-top: 2rem;
  }

  &__button {
    margin-top: 2rem;
    background-color: var(--dh-white);
    border: 0.3rem solid var(--dh-green);
    gap: 1rem;
    color: var(--dh-green);

    &:hover {
      background-color: var(--dh-alabaster);
    }
  }
}
