.footer {
  background-color: var(--dh-green);
  width: 100%;
  flex-shrink: 0;
  border-radius: var(--dh-border-radius) var(--dh-border-radius) 0 0;
  @include flex-col;
  color: var(--dh-white);
  padding-bottom: 1.4rem;
  position: relative;

  &__top {
    @include flex-row;
    justify-content: space-between;

    @include sm-d {
      flex-direction: column;
      align-items: start;
      gap: 3rem;
    }
  }

  &__divider {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }

  &__policy {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--dh-white);

    &:hover {
      text-decoration: underline;
    }
  }

  &__up {
    position: absolute;
    top: -2.5rem;
    right: var(--dh-conteiner-padding);
  }
}

.footer-left {
  @include flex-row;
  gap: 2rem;
  align-items: start;

  @include md-d {
    flex-direction: column;
  }

  @include sm-d {
    width: 100%;
  }

  &__adress {
    max-width: 23.8rem;
    align-items: start;

    @include sm-d {
      max-width: none;
      font-size: 1.8rem;
    }
  }

  &__logo {
    width: 16.6rem;
  }

  &__info {
    @include flex-col;
    gap: 2rem;

    @include sm-d {
      width: 100%;
    }
  }

  &__up {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer-right {
  @include flex-col;
  align-items: end;
  gap: 1.2rem;

  @include sm-d {
    width: 100%;
    align-items: start;
  }

  &__button {
    width: fit-content;

    @include sm-d {
      width: 100%;
    }
  }

  &__phone {
    @include sm-d {
      align-items: start !important;
    }
  }
}

.adress {
  @include flex-row;
}

.phone {
  @include flex-col;
  align-items: end;

  &__number {
    color: var(--dh-white);
    font-size: 2rem;
    font-weight: 600;
  }

  &__img {
    fill: var(--dh-white) !important;
  }

  &__sub {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.socials {
  @include flex-row;
  justify-content: end;
  gap: 1.2rem;

  &__img {
    fill: var(--dh-jet);
    transition: fill ease 0.3s;
  }

  &__link {
    @include flex-center;
    border-radius: 1rem;
    background-color: var(--dh-alabaster);
    transition: all ease 0.3s;
    border: 1px solid var(--dh-alabaster);
    width: 4.8rem;
    height: 4.8rem;
    transition: border ease 0.3s;

    &:hover {
      border-color: var(--dh-green);

      & .socials__img {
        fill: var(--dh-green);
      }
    }
  }
}
