.hero {
  display: flex;
  flex-direction: row;

  @include lg-d {
    flex-direction: column;
  }

  @include xl-d {
    height: auto;
  }
}

.hero-intro,
.hero-preview {
  width: 50%;
  flex-shrink: 0;
  background-color: var(--dh-white);
  border-radius: var(--dh-border-radius);
  position: relative;
  overflow: hidden;

  @include lg-d {
    width: 100%;
  }
}

.hero-intro {
  padding: 5.5rem var(--dh-conteiner-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;

  @include xl-d {
    gap: 2rem;
    padding: 7.2rem var(--dh-conteiner-padding);
  }

  @include sm-d {
    padding: 2rem var(--dh-conteiner-padding);
  }

  &__header {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 500;
    color: var(--dh-jet);
    letter-spacing: 0.5px;

    @include xl-d {
      font-size: 4rem;
      line-height: 1;
      letter-spacing: 0;
    }

    @include sm-d {
      font-size: 3rem;
    }
  }

  &__advantages,
  &__button,
  &__header {
    position: relative;
    z-index: 2;
  }

  &__decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__button {
    width: fit-content;
    height: 6.2rem;
    padding: 2.2rem 2rem;
    letter-spacing: 0.1px;

    @include sm-d {
      width: 100%;
    }
  }
}

.hero-preview {
  @include lg-d {
    max-height: 35rem;
  }

  @include md-d {
    max-height: 25rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__badge {
    bottom: 3.2rem;
    left: 3.8rem;
    position: absolute;

    @include md-d {
      left: auto;
      right: 2rem;
      bottom: 2rem;
    }
  }
}
