.promotions {
  @include container-d {
    overflow-x: hidden;
  }

  &__header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__swiper {
    @include container-d {
      overflow: visible;
    }
  }

  &__swiper-navigation {
    @include flex-row;
    justify-content: space-between;
    gap: 1rem;
  }

  &__swiper-next,
  &__swiper-prev {
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 0.8rem;
    background-color: var(--dh-white);
    border: 0.2rem solid var(--dh-white);
    transition:
      background ease 0.3s,
      opacity ease 0.3s;

    &:hover {
      background-color: var(--dh-green);

      & .promotions__swiper-img {
        stroke: var(--dh-white);
      }
    }
  }

  &__swiper-next {
    transform: rotate(180deg);
  }

  & .swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__swiper-img {
    transition: stroke ease 0.3s;
    stroke: var(--dh-jet);
  }
}

.promotion-card {
  height: 32rem;
  width: 40.5rem;
  border-radius: 4rem;
  background-color: var(--dh-white);
  color: var(--dh-jet);
  padding: 2.8rem 2rem 4rem 3rem;
  @include flex-col;
  justify-content: space-between;

  @include xl-d {
    height: 32rem;
    width: 35rem;
  }

  @include sm-d {
    width: 32rem;
    height: 25rem;
  }

  &--primary {
    background-color: var(--dh-orange);
    color: var(--dh-white);

    & .promotion-card__title {
      opacity: 0.4;
    }

    & .promotion-card__title,
    .promotion-card__text,
    .promotion-card__button {
      color: inherit;
    }

    & .promotion-card__button > svg {
      stroke: var(--dh-white);
    }
  }

  &__title {
    font-size: 8rem;
    letter-spacing: 0.2rem;
    line-height: 0.7;
    text-align: right;
    color: var(--dh-alabaster);
    letter-spacing: -7px;

    @include xl-d {
      font-size: 6rem;
    }

    @include sm-d {
      font-size: 5.6rem;
    }
  }

  &__content {
    @include flex-col;
  }

  &__text {
    color: var(--dh-jet);
    font-size: 2.6rem;
    font-weight: 500;
    width: fit-content;

    @include xl-d {
      font-size: 2.2rem;
    }

    @include sm-d {
      font-size: 2rem;
    }
  }

  &__button {
    background-color: transparent;
    color: var(--dh-green);
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
    height: 6.2rem;
    gap: 1rem;
    transition: gap ease 0.3s;

    &:hover {
      background-color: transparent;
      gap: 2rem;
    }

    & > svg {
      stroke: var(--dh-green);
    }
  }
}
