:root {
  --dh-green: #768a71;
  --dh-orange: #e3642f;
  --dh-orange-hover: #e98359;
  --dh-white: #ffffff;
  --dh-yellow: #ffc631;
  --dh-alabaster: #e1e3d6;
  --dh-jet: #2d2d2d;
  --dh-grey: #dbd4d7;
  --dh-dark-grey: #737577;
  --dh-green-hover: #91a18d;
  --dh-brown: #66595b;

  --dh-border-radius: 4rem;
  --dh-conteiner-padding: 4.3rem;
  --dh-section-padding-y: 4rem;

  --dh-sections-gap: 2rem;
}
